<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      button {
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <h1>List of all articles.</h1>

    <br><br>

    <% data.forEach(article => { %>
      <div>
        <a href="/article/<%= article.id %>"><h2><%= article.title %></h2></a>
      </div>
    <% }); %>

    <br><br>

    <% if(user) { %>
      <a href="/newarticle">Create new Article.</a>      
    <% } else { %>
      <a href="/users/register"><button>Register</button></a>
      <a href="/users/login"><button>LogIn</button></a>
    <% } %>
  </body>
</html>
