<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>List of all articles.</h1>

    <br><br>

    <% data.forEach(article => { %>
      <div>
        <a href="/article/<%= article.id %>"><h2><%= article.title %></h2></a>
      </div>
    <% }); %>

    <br><br>

    <a href="/newarticle">Create new Article.</a>
  </body>
</html>
